 <div class="item group">
    <h3>Your Upcoming Events</h3>
    <ul>
    {{#each userEvents}}
    {{#ifCond this.is_past '==' 0}}
      <li>Event Name: {{this.name}}</li>
      <li>Event Date/Time: {{this.date_time}}</li>
      <li>Event Address: {{this.event_street}}, {{this.event_city}}, {{this.event_state}}, {{this.event_zip_code}}</li>
      <li>Total Number of Attendees: {{this.numAttendees}}
        <ul>
          <li>
            <span><i>Populate Name based on event_attendees table</i></span>
            <button class="button button-remove" id="removeAttendee">Remove Attendee</button><button class="button button-follow" id="follow">Follow</button>
          </li>
          <li>
            <span><i>Populate Name based on event_attendees table</i></span>
            <button class="button button-remove" id="removeAttendee">Remove Attendee</button><button class="button button-follow" id="follow">Follow</button></li>
          </li>
          <li>
            <span><i>Populate Name based on event_attendees table</i></span>
            <button class="button button-remove" id="removeAttendee">Remove Attendee</button><button class="button button-follow" id="follow">Follow</button></li>
          </li>
        </ul>
      </li>
      {{/ifCond}}
      {{/each}}
    </ul>
    <hr/>
    <div id="submit-event" class="item group">
    <h3>Add an event</h3>
    <form id="eventSub" action='/add-new-event'>
      <div class="field">
        <input name="name" placeholder="Event Name *" id="name" type="text" required/>
      </div>
      <div class="field">
      <label>Date and Time of Event *</label>
        <input name="date_time" id="date_time" type="datetime-local" required/>
      </div>
            <div class="field">
        <input name="event_street" placeholder="Event Street *" id="street" type="text" required/>
      </div>
      <div class="field">
        <input name="event_city" placeholder="Event City *" id="city" type="text" required/>
      </div>
      <div class="field">
        <input name="event_state" placeholder="Event State *" id="state" type="text" required/>
      </div>
            <div class="field">
        <input name="event_zip_code" placeholder="Event Zip Code *" id="zip" type="number" required/>
      </div>
      <button class="button button-block" id="submitEvent">Add Event</button>
    </form>
  </div>
  <hr/>
  <h3>Other Upcoming Events</h3>
    <ul>
    {{#each otherEvents}}
      <li>Event Name: {{this.name}}</li>
      <li>Event Date/Time: {{this.date_time}}</li>
      <li>Event Address: {{this.event_street}}, {{this.event_city}}, {{this.event_state}}, {{this.event_zip_code}}</li>
       <button class="button button-block" id="attendEvent">Attend Event</button>
      {{/each}}
    </ul>
</div>
